* {
  box-sizing: border-box;
}

body {
  font-family: Karla, sans-serif;
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root {
  height: 100%;
  width: 100%;
  /* Removed max-height and max-width */
}

main {
  background-color: #F5F5F5;
  min-height: 100%; /* Ensures full height of the screen */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center;
}

.title {
  font-size: 3rem; /* Scalable with screen size */
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  font-size: 1.2rem;
}

.rollButton {
  width: 60%; /* Makes the button responsive */
  margin-top: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  font-family: Karla;
  font-weight: bolder;
  font-size: 2vw; /* Adjusts font size based on viewport */
  color: #fff;
  cursor: pointer;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); /* Makes grid responsive */
  gap: 20px;
}

.dice-container button {
  height: 70px;
  width: 70px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  background-color: white;
  font-family: Karla, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .instructions {
    font-size: 1rem;
  }

  .rollButton {
    font-size: 4vw; /* Adjusts button size on smaller screens */
  }
}
